body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    color: aliceblue;
}
#nav-menu ul {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    font-size: large;
    text-decoration: none;
    padding-right: 5%;
    list-style-type: none;
  }

  html{
    scroll-behavior: smooth;
  }
  #nav-menu li {
    margin: 0 10px;
    text-decoration: none;

  }
  #nav-menu>ul>button{
    border: none;
    background-color: black;
    color: aliceblue;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  }
  #resume-button-2{
    border: none;
    background-color: black;
    color: black;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #33b249;
    height: 70px;
    border-radius: 30px;
  }
  #nav-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: aliceblue;
  }
  #nav-menu{
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: black;
    top: 0;
    left: 0;
  }

  /* <li><a class="nav-link home" href="#home">Home</a></li>
  <li><a class="nav-link about" href="#about">About</a></li>
  <li><a class="nav-link skills" href="#skills">Skills</a></li>
  <li><a class="nav-link projects" href="#projects">Projects</a></li>
  <li><a class="nav-link contact" href="#contact">Contact</a></li>
  <a href="" target="_blank" class="nav-link resume"></a><button id="resume-button-1" */
  .prjectconatiner{
    /* background-color: #33b249; */
    padding: 5%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1%;
  }
  .col-md-4{
    background-color:rgb(41,39,56);
    padding: 2%;
    margin: 1%;
    align-items: center;
    border-radius: 10px;
  }
  .project-image{
    width: 470px;
    border-radius: 10px;
  }
  #about>div{
     margin: 5%;
     padding: 5%;
  }
  .skills-card-img{
    width: 100px;
  }
  .icons-container{
    display: grid;
   grid-template-columns: repeat(4,1fr);
    /* background-color: red; */
    padding: 1%;
  }
  h2{
    text-decoration: underline;
    
  }
  .container{
    /* border: 3px solid yellow; */
    padding: 5%;
  }
  .project-card>a{
     color: aliceblue;
     text-decoration: none;
     border: 1px dotted aliceblue;
     margin-left: 10px;
     font-size:x-large;
     padding: 1%;
  }
  .contactsectionMainDiv{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    padding: 1%;
  }
 #GitStats{
    padding: 5%;
    display: flex;
    gap: 5%;
 }
 #GitStats>img{
    width: 350px;
 }
  #homediv{
    margin-top: 10%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    padding: 1%;
  }
  #homediv>div:last-child{
     display: grid;
     text-align: left;
     justify-content: center;
  }
  .home-img{
    height: 500px;
    border-radius: 20px;
  }
.contact-list{
    display: grid;
    gap: 20px;
    color: aliceblue;
    text-align: left;
    list-style-type:circle;
}
.contact-list a{
    color: aliceblue;
    text-decoration: none;
}
#final{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
#contact-form{
    display: grid;
    text-align: left;
}
#contact-form>input{
    background-color: antiquewhite;
}